* {
  margin: 0px;
  padding: 0px;
  font-family: 'Staatliches', cursive;
  box-sizing: border-box;
}


.btnWsp {
  position: fixed;
  height: 60px;
  width: 60px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: green;
  color: white;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  font-size: 25px;
  padding-top: 4px;
}

.btnWsp:hover {
  text-decoration: none;
  color: green;
  background: white;
}

/*----------------------------------BARRA DE NAVEGACION------------------------------*/

.header {
  background-color: black;
  width: 100%;
}

.header ul a {
  display: block;
  color: #aaaaaa;
  width: 110px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}

.header ul a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: #eab21b;
  transition: left .8s;
}

.header a:hover:after {
  left: 0;
}

.seccion:hover {
  color: #eab21b;
}

.logo {
  height: 80px;
  width: auto;
}

.boxNav {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  color: white;
}

/*-----------------------------------INDEX--------------------------------------------------------*/

.seccion1 {
  text-align: center;
  background-image: url(../multimedia/img/bannerhandball.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  color: white;
  max-height: 100vh;
}

.seccion1 {
  padding: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.seccion1 h1 {
  font-size: 26vh;
  text-shadow: -4px 3px 0 #eab21b;
  letter-spacing: 8px;
}

.seccion1 h3 {
  font-size: 10vh;
  background-color: black;
}

.seccion2 {
  background-image: url(../multimedia/img/fondoSeccion2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.seccion2 h3 {
  text-shadow: -2px 3px 0 #eab21b;
  letter-spacing: 8px;
  color: black;
}

.textoInfo {
  text-align: center;
  padding: 5vh 10vw;
}

.textoInfo p {
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: large;
  margin: 0px 15vw;
}

.textoInfo p span{
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: large;
}

.iconos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.icons img {
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 35px grey;
  background-color: #eab21b;
  padding: 10px;
}

.icons img:hover {
  background-color: #e7c872;
}

.animate__flipInX {
  animation-delay: 1s;
}

/*-----------------------------------CONOCENOS--------------------------------------------------------*/
.conocenosTitulo {
  background-size: cover;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  background-image: url(../multimedia/img/fondoConocenos.png);
  background-repeat: none;
  padding: 10vw;
}


.conocenosTitulo h1 {
  text-shadow: -2px 3px 0 #eab21b;
  letter-spacing: 8px;
  color: black;
  font-size: 10vh;
}

.conocenosTitulo p {
  background-color: black;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: large;
  letter-spacing: 2px;
}

.galeria {
  height: auto;
  width: 25vw;
  min-width: 300px;
}

.carousel {
  width: 100%;
  height: 100%;
}

.infoAgustin {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10vh 10vw;
  height: 100%;
  background-image: url(../multimedia/img/fondoSeccion2izq.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.infoAgustin h3 {
  text-align: start;
  text-shadow: -2px 3px 0 #eab21b;
  letter-spacing: 8px;
  color: black;
  font-size: 8vh;
}

.infoAgustin p {
  width: 28vw;
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: large;
}

.infoGrupo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  padding: 10vh 10vw;
  height: 100%;
  background-image: url(../multimedia/img/fondoSeccion2der\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
}

.infoGrupo h3 {
  text-align: start;
  text-shadow: -2px 3px 0 #eab21b;
  letter-spacing: 8px;
  color: black;
  font-size: 8vh;
  width: 30%;
}

.infoGrupo p {
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: large;
  width: 28vw;
}

.infoGrupo img {
  height: 200px;
  border-radius: 50%;
}

.equipo2 {
  margin: 5vh 5vw;
}

.equipo2 p {
  width: 100%;
  margin: auto auto;
  text-align: center;
}

.equipo2 .imgContainer {
  width: 100%;
}

.equipo2 img:hover {
  transform: scale(1.1);
}

.equipo2 h5 {
  letter-spacing: 2px;
  line-height: 25px;
  color: black;
  background-color: #eab21b;
}

.equipo2 h5:hover {
  background-color: black;
  color: white;
}

.proyectoHandball {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10vh 10vw;
  height: 100%;
  background-image: url(../multimedia/img/fondoSeccion2abaj\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
}

.textoHandball {
  width: 100%;
  padding-left: 5%;
}

.proyectoHandball h3 {
  text-align: start;
  text-shadow: -2px 3px 0 #eab21b;
  letter-spacing: 8px;
  color: black;
  font-size: 8vh;
}

.proyectoHandball p {
  width: 80%;
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: large;
}
/*-----------------------------------SERVICIOS--------------------------------------------------------*/
.bodyServicios {
  padding-top: 15vh;
}

.serviciosTitulo {
  text-align: end;
  height: 50vh;
  background-image: url(../multimedia/img/fondoServicios.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.serviciosTitulo h1 {
  text-shadow: -2px 3px 0 #eab21b;
  letter-spacing: 8px;
  color: black;
  font-size: 10vh;
}

.serviciosTitulo h3 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: large;
  letter-spacing: 2px;
  background: black;
}


h2 {
  background-color: #eab21b;
  padding: 3px;
  width: 100%;
  text-align: center;
}

.flecha img {
  height: 40px;
  width: 50px;
}

.servicios {
  display: flex;
  width: 70%;
  height: 40vh;
  align-items: start;
}

.servicios p {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: large;
  letter-spacing: 1px;
}

.imgServicios {
  width: 50%;
}

.imgServicios img {
  height: auto;
  width: 100%;
}

.infoServicios {
  width: 50%;
}

/*-----------------------------------CONTACTO--------------------------------------------------------*/
.contactoTitulo {
  background-size: cover;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  background-image: url(../multimedia/img/bannerhandball3.png);
  background-repeat: none;
  padding: 10vw;
  text-align: end;
}


.contactoTitulo h1 {
  text-shadow: -2px 3px 0 #eab21b;
  letter-spacing: 8px;
  color: black;
  font-size: 10vh;
}

.contactoTitulo p {
  background-color: black;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: large;
  letter-spacing: 2px;
}

.contacto {
  width: 100%;
  background-image: url(../multimedia/img/fondoContacto.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

#formulario {
  width: 40vw;
  margin: auto;
}

.formularioBox {
  text-transform: uppercase;
  text-align: start;
  padding: 3vh 3vw;
}

.boton {
  border: none;
  text-decoration: none;
  padding: 10px 10px;
  margin: 20px 20px;
  border: 2px solid #eab21b;
  letter-spacing: 1px;
}

.boton:hover {
  background-color: #eab21b;
}

.btnEnviar {
  text-align: center;
}

.boxC {
  background-color: #e7c872;
  width: 100%;
  padding: 5px;
  border: 2px solid #e7c872;
}

/*------------------------------------FOOTER INDEX-------------------------------------------*/

footer {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 40px;
  align-items: center;
}

.textoFooter {
  letter-spacing: 2px;
  text-align: center;
  font-size: large;
  color: #888787;
}

.textoFooter a {
  color: #eab21b;
}

.textoFooter p {
  font-family: 'Archivo Narrow', sans-serif;
}


/*formulario footer index*/
.footerIndex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#formularioIndex {
  width: 40vw;
}

#formularioIndex h3 {
  text-shadow: -2px 3px 0 #eab21b;
  letter-spacing: 8px;
  color: white;
}

.box {
  background-color: #e7c872;
  width: 100%;
  padding: 5px;
}

label {
  font-family: 'Archivo Narrow', sans-serif;
  color: #888787;
  padding: 5px;
  letter-spacing: 2px;
  line-height: 25px;
  font-size: large;
}

.boton {
  background-color: #e7c872;
  border: none;
  text-decoration: none;
  color: white;
  padding: 10px 10px;
  margin: 20px 0px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.textoFooter {
  width: 50%;
}


/*------------------------FOOTER OTRAS PAGINAS-----------------------------------------------------------------*/

.footerSecciones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.footer1 {
  line-height: 5px;
}

.imgFooter {
  height: 10vh;
}

/*-----------------------------------MEDIA QUERYsssssssssssss--------------------------------------------------------*/
@media only screen and (max-width: 350px) {
  .footer1 {
    font-size: medium;
  }
}

@media only screen and (max-width: 576px) {
  .seccion1 {
    height: 20vh;
  }

  .seccion1 div h1 {
    font-size: 10vh;
  }

  .conocenosTitulo {
    align-items: center;
  }

  .conocenosTitulo h1 {
    font-size: 8vh;
    width: 100%;
  }

  .conocenosTitulo p {
    font-size: medium;
  }

  .seccion1 h3 {
    font-size: 20px;
  }

  .imgContainer img {
    width: 50vw;
    height: auto;
  }

  .equipo2 h5 {
    letter-spacing: 2px;
  }

  .serviciosTitulo {
    align-items: center;
  }

  .serviciosTitulo h1 {
    font-size: 8vh;
    width: 100%;
  }

  .serviciosTitulo h3 {
    font-size: medium;
    width: 100%;
    text-align: center;
  }

  .contacto {
    background: none;
  }

  .proyectoHandball iframe {
    width: 100%;
  }

  .contactoTitulo {
    align-items: center;
    text-align: center;
  }

  .contactoTitulo h1 {
    font-size: 8vh;
    width: 100%;
  }

  .contactoTitulo p {
    font-size: medium;
    text-align: center;
  }

  #formulario {
    margin: 0px;
  }

  .formularioBox {
    width: 90vw;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .contactoTitulo {
    align-items: center;
    text-align: center;
  }

  .contactoTitulo h1 {
    font-size: 8vh;
    width: 100%;
  }

  .contactoTitulo p {
    font-size: medium;
    text-align: center;
  }
 }

@media only screen and (max-width: 768px) {
  .parrafo{
    display: none;
  }

  .textoInfo p {
    margin: 5px;
    font-size: medium;
    letter-spacing: 1px;
  }
  
  .seccion2 {
    background-image: none;
  }

  .seccion2 h3 {
    letter-spacing: 3px;
  }

  .infoAgustin {
    background-image: none;
  }

  .infoGrupo {
    background-image: none;
  }

  .proyectoHandball {
    background-image: none;
  }

  .proyectoHandball .textoHandball {
width: 100vw;
  }

  .servicios {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 10px;
  }

  .imgServicios {
    width: 100%;
  }

  .infoServicios {
    width: 100%;
    padding: 10px;
  }

  .flecha {
    justify-content: start;
  }

  .footerSecciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer1 {
    line-height: 5px;
    padding-bottom: 4vh;
  }

  .imgFooter {
    height: 5vh;
  }
}

@media only screen and (max-width: 992px) {
  .seccion1 {
    height: 70vh;
  }

  .seccion1 h1 {
    font-size: 18vh;
  }

  .seccion1 h3 {
    font-size: 35px;

  }

  .infoAgustin {
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    padding: 5vw;

  }

  .infoAgustin h3 {
    font-size: 7vh;
    letter-spacing: 3px;
    text-align: center;
  }

  .infoAgustin p {
    width: 100%;
    padding: 5vh 10vw;
    text-align: center;
    letter-spacing: 1px;
  }

  .infoGrupo {
    display: flex;
    flex-direction: column;
  }

  .infoGrupo h3 {
    font-size: 7vh;
    letter-spacing: 3px;
    text-align: center;
    width: 100%;
  }

  .infoGrupo p {
    width: 100%;
    padding: 5vh 0vw;
    text-align: center;
    letter-spacing: 1px;
  }

  .textoEquipo {
    width: 90%;
    margin-left: 20px;
  }

  .imgContainer {
    width: 50%;
  }

  .proyectoHandball {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .proyectoHandball h3 {
    text-align: center;
    width: 100%;
    font-size: 7vh;
  }

  .proyectoHandball p {
    text-align: center;
    width: 80%;
    letter-spacing: 1px;
  }

  .proyectoHandball iframe {
    margin-bottom: 3vh;
  }

  .textoHandball {
    margin-bottom: 5vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  footer {
    width: 100%
  }

  .footerIndex {
    display: flex;
    flex-direction: column;
  }

  .textoFooter {
    padding-top: 5vh;
  }

  .textoFooter img {
    height: 20vh;
  }

  #formularioIndex {
    width: 100%;
    text-align: center;
  }

  form {
    text-align: center;
    margin-left: 8vw;
  }

  .box {
    width: 70vw;
  }

  #formulario {
    width: 65vw;
  }
}

@media only screen and (min-width: 1400px) {
  .servicios {
    height: 30vh;
  }

.infoAgustin p {
  font-size: large;
}

.infoGrupo p {
  font-size: large;
}

.proyectoHandball p {
  font-size: large;
}
}

@media only screen and (min-height: 1100px) {
.seccion1 h1 {
  font-size: 16vh;
}

.seccion1 h3 {
  font-size: 6vh;
}

.icons img {
  height: 150px;
}

.textoInfo p {
  font-size: x-large;
    }

.servicios {
  height: 30vh;
}

.servicios p {
  font-size: x-large;
}

.infoAgustin p {
  font-size: x-large;
}

.infoGrupo {
  padding-top: 0px;
}

.infoGrupo p {
  font-size: x-large;
}

.proyectoHandball{
  padding-top: 0px;
}

.proyectoHandball p {
  font-size: x-large;
}
}